@import './scss/_materialize.scss';
@import './scss/_fonts.scss';


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer, .page-footer, nav, .btn {
    background-color: #0288d1; 
}
.page-footer {
    padding-top: 0;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #0288d1;
}
.btn {
    &:hover,&:focus,&:active {
        background-color: white;
        color: black;
    }
}
.page-footer .footer-copyright {
    min-height: 40px;
}
.rssa-main {
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
    .card-authrss {
        top: 50%;
        max-width: 450px;
        position: absolute;
        transform: translate(0, -75%);
        padding: 40px 40px;
        h6 {
            color: #757575;
            font-weight: bold;
        }
        span {
            color: #757575;
        }
    }
}
.auth-main {
    
    &>.row {
        height: calc(100vh - 50px);
        margin-bottom: 0;
        &>div {
            position: absolute;
            top: 50%;
            transform: translate(0, -70%);
            .card {
                border-radius: 15px 15px 0 0;
                .card-image {
                    border-radius: 15px 15px 0 0;
                }
            }
            
        }
    }
}
.field-name {
    font-weight: bold;
}
.btn-field-data {
    display: inline-block;
    margin-left: 20px;
}
.modal-create-pass {
    top: 20%;
    width: 75%;
    padding: 50px;
}
.table-block {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: calc(100vh - 300px);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.12);
    margin-top: 15px;
    table {
        tr {
            &.edituser {
                &:hover {
                    background-color: #e3f2fd;
                    cursor: pointer;
                    td {
                        background-color: #e3f2fd;
                    }
                }
                td {
                    a {
                        &:hover {
                            color: #0288d1;
                        }
                        color:black;
                        .edit-icon {
                            color: #0288d1;
                        }
                    }
                }
            }
            height:50px;
            border: none;
            th {
                color:#607d8b;
                font-weight: 500;
                padding:5px;
                border-bottom: 1px solid rgba(0,0,0,0.12);
                min-height: 40px;
                i {
                    color:#607d8b;
                }
            }
            td {
                [type="checkbox"]+span:not(.lever):before {
                    margin-top: 6px;
                }
            }
            .btn-list-options {
                color: black;
                background: none;
                box-shadow: none;
            }
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }
    &.table-block-admin {
        max-height: calc(100vh - 520px);
    }
    &.search-table-container {
        border: none;
        .search-table {
            tr {
                th {
                    text-align: center;
                    color: #607d8b;
                    font-weight: 500;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    vertical-align: bottom;
                    border-bottom: none;
                }
                border-bottom: 0;
                border-top: 0;
                td {
                    padding-top:0px;
                    .btn-field-data {
                        margin-bottom: 8px;
                    }
                }
            }
            .field-search-table {
                padding-left: 5px;
                padding-right: 5px;
                input {
                    background-color: #eceff1;
                    border-bottom: none;
                    border-radius: 10px;
                    padding-left: 5px;
                    padding-right: 5px;
                    &:hover {
                        border-bottom: none;
                        box-shadow: none;
                    }
                    &:focus {
                        border-bottom: none;
                        box-shadow: none;
                    }
                    &:active {
                        border-bottom: none;
                        box-shadow: none;
                    }
                }
                
            }
        }
    }
}
.modal {
    .modal-flex {
        display: flex;
        justify-content: center;
        .btn {
            width: 10%;
            height: 50px;
            margin: 10px;
            font-size: 24px;
        }
    }
}
#table-admin-lookup {
    .pagination-main-container, .pagination{
        display: none;
    } 
}
.table-container {
    position: relative;
}
.pagination {
    li {
        background-color: #eceff1;
        margin-left: 3px;
        margin-right: 3px;
        height: 40px;
        &.active {
            background-color: #0288d1;
            color: white;
        }
        a {
            i {
                line-height: 40px;
            }
            padding: 0 5px;
            line-height: 40px;
            min-width: 40px;
            min-height: 40px;
        }
    }
}
.table-block-editform {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: calc(15vh);
}
.preloader-container {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2001;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    &>div {
        width: 150px;
        text-align: center;
        h5 {    
            font-size: 36px;
            color: black;
        }   
        
    }
}
.spinner-custom {
    border-color:black;
}
.two-nav {
    height: 40px;
        line-height: 40px;
    .nav-wrapper {
        position: relative;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding: 0 26px;
        height: 40px;
        line-height: 40px;
        i {
            height: 40px;
            line-height: 40px;
        }
    }
}
.table-block-editform {
    max-height: 25vh;
}
.table-student {
    .table-block {
        max-height: calc(100vh - 350px);
    }
}
.table-container {
    position: relative;
    .pagination {
        margin-top: 20px;
        display: inline-block;
    }
    .pagination-main-container {
        bottom: -10px;
    }
}
.pagination-main-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    .pagination-information {
        line-height: 84px;
        margin-right: 30px;
    }
    .pagination-select-container {
        width: 60px;
    }
}

.main-nav {
    background-color: white;
    color: black;
    .nav-wrapper {
        position: relative;
        max-width: 1172px;
        height: 100%;
        margin: 0 auto;
        padding: 0 26px;
        a.brand-logo {
            text-align: left;
            color: black;
            line-height: 20px;
            font-size: 18px;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 4px;
            margin-bottom: 4px;
            background: url(../img/logo.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            padding-left: 64px;
        }
    }
}